/* $bg-color: #17a598; */
$bg-color: #c94c4c;
/* $color1: #e74c3c; */
$color1: #c94c4c;

$color2: #f7cac9;
$color3: #db381b;
$green: #17a598;
$text-color: #ffffff;
$black: #555;
$off-white: #f8f8f8;
$white: #fff;
$darkblack:#181717;

