<div class="container">
  <div class="card">
    <div class="strip-block">
      <div class="profile-logo">
        <img src="assets/img/Himanshu.jpg" alt="">
      </div>
      <div class="strip"></div>
      <div class="short-details">
        <h4 class="tagLine">
          Student | Developer | Contributor
        </h4>
        <blockquote class="quote">
          "Love to Explore new Technologies"
        </blockquote>
      </div>
    </div>

    <div class="details">
      <div class="nameBlock">
        <h1 class="round-shape name">
         Himanshu Sharma
        </h1>
        <div class="divider">
          <div class="stick stick1"></div>
          <div class="stick stick2"></div>
        </div>
      </div>
      <p class="bio">
        I love coding, new technologies. I'm mostly interested in Full Stack Web Development.
        <br> I love to work with ASP.NET Core, Angular & React.
      </p>
      <div (mouseover)="startTadaAnimation = false" [ngClass]="{'tada-animation':startTadaAnimation}">
        <a class="round-shape projects-link" (click)="onExploreMeClick()">
          <span>
            Explore Me
          </span>
        </a>
      </div>
    </div>
    <div class="divider">
      <div class="stick stick1"></div>
      <div class="stick stick2"></div>
    </div>

   

  </div>
</div>
